* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    min-height: 100vh;
    background: #000;
    align-content: center;
}

.board {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(4px);
}



.choose {
position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 250px;
    backdrop-filter: blur(13px);
    border: solid 2px #0033ff;
    box-shadow: 0 0 13px #0033ff inset;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.choose p {
    color: #0033ff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    user-select: none;
}

.choose button {
    width: 80%;
    padding: 11px;
    border-radius: 12px;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-image: linear-gradient(140deg,#6700a3, #00ffff);
    border: none;
    cursor: pointer;
    transition: all 0.7s;
}

.choose button:hover {
    background-image: linear-gradient(140deg,#050c38, #00ffff);
}
.game-container {
    width: 400px;
    height: 420px;
    margin: auto ;

}

.title {
    width: 100%;
    height: 15%;
    margin-bottom: 20px;
    text-align: center;
    align-content: center;
    font-size: 35px;
    text-shadow: 0 0 10px;
    overflow: hidden;
    position: relative;
    font-weight: bold;
    user-select: none;

}
.title span {
    animation: titleColors 7s linear infinite alternate;
}

@keyframes titleColors {
    0%{color: #f024ff;}
    25%{color: #0033ff;}
    50%{color: #bc430d;}
    75%{color: #06d6a0;}
    100%{color: #0045ff;}
}

.title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: -100%;
    bottom: 0;
    background: linear-gradient(135deg, 
        transparent,
        #050c38 20%,
        #6700a3 40%,
        #e02f75 60%,
        #ff5a57 80%,
        transparent
    );
    animation: titleLine 4s ease-in-out  infinite;
}

@keyframes titleLine {
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}

.scores {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.x {
    color: #6700a3;
}
.o {
    color: #00ffff;
}

.squares {
    width: 100%;
    height: calc(85% - 20px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
    padding: 4px;
}

.squares div {
    background: #000;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 80px;
    border: solid 2px firebrick;
    box-shadow: 0 0 14px firebrick inset;
    color: firebrick;
    text-shadow: 0 0 10px firebrick;
    text-align: center;
    line-height: 90px;
}

.game-container p {
    color: #fff;
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.game-container p span {
        background: linear-gradient(to right, #6700a3, #00ffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 480px) {
    .game-container {
        width: 350px;
    }
}